.main-header__nav-mobile {
    visibility: hidden;
    height: 0;
}

.main-header__item-list-mobile {
    margin: 0;
}

.main-header__item-list-mobile .main-header__item-logout,
.main-header__item-list-mobile .main-header__item-auth {
    position: absolute;
}

.main-header__item-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #00695c;
}

.main-header__item {
    float: left;
}

.main-header__item-auth {
    float: right;
}

.main-header__item a,
.main-header__item-auth a {
    text-decoration: none;
    display: block;
    color: white;
    text-align: center;
    padding: 15px 26px;
    transition: background-color 0.15s;
    transition-timing-function: linear;
}

.main-header__item a:hover,
.main-header__item a:active,
.main-header__item-auth a:hover,
.main-header__item-auth a:active,
.main-header__item a.active,
.main-header__item-auth a.active {
    background-color:rgb(63, 63, 63);
}

.main-header__item-logout {
    float: right;
}

.main-header__item-logout button {
    text-decoration: none;
    display: block;
    color: white;
    background-color: #00695c;
    text-align: center;
    padding: 14px 26px;
    border-radius: 0;
    outline: none;
}

.main-header__item-logout button:hover,
.main-header__item-logout button:active {
    background-color:rgb(63, 63, 63);
    border-radius: 0;
    border-style: outset;
}